# exclude everything
Library/Research/*
Library/Logs/*
node_modules/*
Library/Secrets/*
TaskScheduler/*
# exception to the rule
!Library/Research/.gitkeep 

# test coverage reports
coverage/

# vendored js
Library/js/

# ignore stupid mac file
**/.DS_Store
node_modules

package-lock.json
